*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
   
    
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color:#fff;
    color:#333;
    padding:15px 45px;
    border:0;
    border-radius:5px;
    transition:.5s;
    font-size:22px;
    font-weight: bold;
    cursor:pointer;
    text-transform:uppercase;

}
button:hover{
    background-color:blue;
    color:#fff;

}

#area{
    padding:15px;
    background-color:#fff;
    color:#555;
    font-size:18px;
    font-weight: 500;
    border:0;
    border-radius:10px;
   
}

#flexs{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:10px;
}
 .bg{
    background-color: rgba(0,0,0,0.5);
    border:1px solid #ddd;
    width:100vw;
    padding:20px 0px;
   display:flex;
   justify-content: center;
   align-items: center;
    gap:10px;
    
} 

.toast{
    background-color:rgb(255, 255, 255);
    text-align: center;
    color:#ffffff;
    padding:10px;
    width:500px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: 1px 1px 50px rgb(0, 0, 0);
    color:#333;
    position:fixed;
    top:0;
    transform:translate(0px,0px);
    right:0;
    
}



h1{
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    background-color:rgba(0, 0,0, 0.2);
    padding:20px;
   
}

.tostaniin{
    animation: aniin 1s forwards;
}
.tostaniout{
    animation: aniout 1s forwards;
}

@keyframes aniin{
    from{
        transform:translate(600px,0px);
       opacity: 0;
    }

    to{
        transform:translate(0px,0px);
        opacity: 1;
       
    }
}
@keyframes aniout{
    from{
        transform:translate(0px,0px);
        opacity: 1;
    }

    to{
        transform:translate(600px,0px);
        opacity: 0;
    }
}
